@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl md:text-6xl mb-6 md:mb-12 
    }

    h2,
    h3 {
        @apply text-2xl md:text-4xl my-6 md:my-12;
    }

    h1::before,
    h2::before,
    h3::before,
    h4::before {
        @apply mr-4 text-blue-700 dark:text-deeppink; 
        content: "#";
    }

    p {
        @apply my-4 leading-relaxed;
    }

    #firstletter {
        @apply first-letter:text-6xl first-letter:font-bold;
    }

    p > a {
        @apply text-blue-700 dark:text-deeppink hover:underline;
    }

    p > code {
        @apply bg-blue-700 dark:bg-deeppink text-light dark:text-dark rounded-lg px-2 whitespace-nowrap;
    }

    /* Markdown */
    #toc {
        @apply xl:float-right xl:w-1/2 xl:ml-8;
    }
    #toc > ul {
        @apply border-2 border-dark dark:border-light rounded-xl my-8 py-2 px-4 text-lg md:text-xl
    }

    #toc li {
        @apply my-2 mx-4 list-disc text-blue-700 dark:text-deeppink
    }

    pre {
        @apply text-lg md:text-xl my-8 p-3 rounded-xl;
    }
    /* page name */
    
    /* page name */

}
 
/* Swup Transition */

/*
.transition-fade {
    transition: 0.4s;
    opacity: 1;
    transform: none;

}

html.is-animating .transition-fade {
    opacity: 0;
    transform: translateY(20px);
}
*/





