---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Card from '../components/Card.astro';

import aboutimage from '../images/aboutimage.jpg';
---

<Layout title="Wer bin ich">
	<h1 id="who-am-i">Wer bin ich</h1>

	<p class="flex-row w-full md:w-1/3 md:float-right rounded-xl">
	 <Image 
			  src={aboutimage}
			  alt="Njola" 
			  width={650} 
			  height={425}
			  decoding="async"
			  loading="lazy" 
			  class="rounded-xl"
			/>
	</p>
	<p id="firstletter">
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
	</p>
	<p>
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
	</p>

	<h2 id="skills">Technologien und Skills</h2>
	<p>
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna  😆 
	</p>
	<div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 my-8 sm:my-16">	
		<Card>
			<span slot="title">Hardware</span>
			<div class="py-2"></div>
			<div class="py-2"></div>
			<div class="py-2"></div>
			<div class="py-2"></div>
		</Card>
		<Card>
			<span slot="title">Softwear
			</span>
			<div class="py-2"></div>
			<div class="py-2"></div>
			<div class="py-2"></div>
			<div class="py-2"></div>
		</Card>
		<Card>
			<span slot="title">3D Blender</span>
			<div class="py-2">Modellierung</div>
			<div class="py-2">Animationen</div>
			<div class="py-2"></div>
			<div class="py-2"></div>
		</Card>
		<Card>
			<span slot="title"> 3D Unreal Engine</span>
			<div class="py-2">Game Development</div>
			<div class="py-2"></div>
			<div class="py-2"></div>
			<div class="py-2"></div>
		</Card>
		<Card>
			<span slot="title">Visual Studio Code</span>
			<div class="py-2"></div>
			<div class="py-2"></div>
			<div class="py-2"></div>
			<div class="py-2"></div>
		</Card>
	
	</div>
</Layout>