---
import Layout from '../layouts/Layout.astro';
import Iconforuses from '../components/Iconforuses.astro';

import { Icon } from 'astro-iconify'

---

<Layout title="Was verwende ich.">
	<h1 id="uses">Was verwende ich?</h1>
	<p>
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
	</p>

	<h2 id="3d">3D Engine</h2>
	<p>
	    <Icon 
        name="devicon:blender" 
        title="Blender"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href="https://www.blender.org"
		target="_blank">Blender</a>
		Beschreibung
	</p>
	<p>
		<Icon 
        name="fontisto:unreal-engine" 
        title="Unreal Engine"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href="https://www.unrealengine.com/de"
		target="_blank">Unreal Engine</a>
		Beschreibung
	</p>

	<h2 id="ide">IDE + Code Editor</h2>
	<p>
		<Icon 
        name="logos:visual-studio-code" 
        title="Visual Studio Code"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href="https://code.visualstudio.com"
		target="_blank">Visual Studio Code</a>
		Beschreibung
	</p>
	<p>
		<Icon 
        name="grommet-icons:status-placeholder" 
        title="placeholder"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href="Link zur seite"
		target="_blank">Name des Programs</a>
		Beschreibung
	</p>

	<h2 id="apps">Desktop Apps</h2>
	<p>
		<Icon 
        name="logos:opera" 
        title="Browser"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href="https://www.opera.com/de/gx"
		target="_blank">Opera GX</a>
		Beschreibung Grund
	</p>
	<p>
		<Icon 
        name="logos:chrome" 
        title="Browser"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href="https://www.google.com/intl/de/chrome/"
		target="_blank">Chrome</a>
		Beschreibung Grund
	</p>
	<p>
		<Icon 
        name="grommet-icons:status-placeholder" 
        title="placeholder"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href="Link zur seite"
		target="_blank">Name des Programs</a>
		Beschreibung
	</p>
	<p>
		<Icon 
        name="grommet-icons:status-placeholder" 
        title="placeholder"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href="Link zur seite"
		target="_blank">Name des Programs</a>
		Beschreibung
	</p>

	<h2 id="youtube">Youtube</h2>
	<p>
		<Icon 
        name="twemoji:camera" 
        title="Davinci Resolve"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href="https://www.blackmagicdesign.com/de/products/davinciresolve/"
		target="_blank">Davinci Resolve</a>
		Beschreibung
	</p>
	<p>
		<Icon 
        name="vscode-icons:file-type-affinityphoto" 
        title="Affinity Photo"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href="https://affinity.serif.com/de/photo/"
		target="_blank">Affinity Photo</a>
		Beschreibung
	</p>
	<p>
		<Icon 
        name="simple-icons:obsstudio" 
        title="OBS Studio"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href="https://obsproject.com/de"
		target="_blank">OBS Studio</a>
		Beschreibung
	</p>
	<p>
		<Icon 
        name="simple-icons:audacity" 
        title="Audacity"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href="https://www.audacityteam.org"
		target="_blank">Audacity</a>
		Beschreibung
	</p>
	<h2 id="hardware">Hardware</h2>
	<p>
		<Icon 
        name="ph:computer-tower-duotone" 
        title="Computer"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href=""
		target="_blank"></a>
		<span class="text-blue-700 dark:text-deeppink">Desktop PC </span>  
		Beschreibung
	</p>
	<p>
		<Icon 
        name="fxemoji:desktopcomputer" 
        title="Computer Alt"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href=""
		target="_blank"></a>
		<span class="text-blue-700 dark:text-deeppink">Desktop PC Nr.2 </span>  
		Beschreibung
	</p>
	<p>
		<Icon 
        name="noto:computer-mouse" 
        title="Computermouse"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href="https://www.razer.com/de-de/gaming-mice/razer-deathadder-v2"
		target="_blank">Razer DeathAdder V2 Pro</a>
		Beschreibung
    </p>
	<p>
		<Icon 
        name="bi:keyboard" 
        title="Keyboard"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href="https://de.steelseries.com/gaming-keyboards/apex-pro-tkl"
		target="_blank">Apex Pro TKL</a>
		Beschreibung
    </p>
	<p>
		<Icon 
        name="basil:headset-solid" 
        title="Headset"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href="https://de.steelseries.com/gaming-headsets/arctis-pro"
		target="_blank">Arctis Pro + Gamedac</a>
		Beschreibung
    </p>
	<p>
		<Icon 
        name="noto:studio-microphone" 
        title="Microphone"
        width="28" 
        hight="28" 
        class="inline" />
		<a
		href="https://rode.com/de/microphones/usb/podcaster"
		target="_blank">RØDE Podcaster</a>
		Beschreibung
    </p>
</Layout>

