---
import { Icon } from 'astro-iconify'

export interface Props {
    url: string; 
    title: string;
    external?: boolean;
    css?: string;
    reload?: boolean;
}

const { url, title, external, css, reload} = Astro.props;
---

<p class="m-0 ">
<a 
   href={url} 
   {...(reload ? {'data-astro-reload': ''} : {})}       
   target={external ? "_blank" : undefined}
   rel={external ? "noopener noreferrer" : undefined} 
   class={`inline-flex items-center rounded-lg border-2 border-solid ${css}   p-2 px-4 md:py-2.5 md:px-6 font-semibold`}
   >
    <span>{title}</span>
    {
        external ? (
          <Icon name="ph:arrow-square-out" width="24" height="24" class="ml-2" />
        ) : ("")
    }
</a>
</p>