---
import NavigationSocialIcon from "./NavigationSocialIcon.astro"
---

<NavigationSocialIcon 
  icon="lets-icons:e-mail" 
  url="mailto:patrick.geissbuehlerph2404@gmail.com" 
  title="Email"
  target="_self"
  css=""  
/>
<NavigationSocialIcon 
  icon="logos:whatsapp-icon" 
  url="https://wa.me/41789642404/" 
  title="WhatsApp"
  target="_blank"
  css=""  
/>
<NavigationSocialIcon 
  icon="openmoji:youtube" 
  url="https://www.youtube.com/@thebatrick" 
  title="Youtube"
  target="_blank"
  css=""  
/>
<NavigationSocialIcon 
  icon="skill-icons:instagram" 
  url="https://www.instagram.com/thebatrick/" 
  title="Instagram"
  target="_blank"
  css=""  
/>
<NavigationSocialIcon 
  icon="mdi:steam" 
  url="https://steamcommunity.com/id/thebatrick/" 
  title="Steam"
  target="_blank"
  css=""
/>
<NavigationSocialIcon 
  icon="ph:coffee-fill" 
  url="https://www.paypal.com/paypalme/thebatrick" 
  title="Gib mir einen Kaffee aus"
  target="_blank"
  css="text-amber-800 dark:text-amber-500"  
/>
<NavigationSocialIcon 
  icon="fluent-emoji-flat:bone" 
  url="https://www.paypal.com/paypalme/thebatrick" 
  title="Ein Knochen für Njola"
  target="_blank"
  css=""
  /> 
<div id="colorSwitch" class="hover:cursor-pointer bg-dark dark:bg-light rounded-full p-1 ">
  <img src="/icons/moon02white.svg" alt="moon" class="w-6 h-6" />
</div>
