---
import { ViewTransitions } from 'astro:transitions';
import Header from "../components/Header.astro";
import NavigationMobile from "../components/NavigationMobile.astro";

const { title, description } = Astro.props;
---


<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="font-mono mb-20 md:mb-1 bg-light dark:bg-dark text-dark dark:text-light ">
		<main 
		 
			id="swup"
			class="relative md:container md:mx-auto src/layouts/Layout.astro-screen">
			<!-- Header component under ../components/Header.astro -->
			<!--  <Header />  Kommentar Löschen um Header zu aktivieren -->
			<!-- -->
			<article transition:animate="slide" class=" text-lg md:text-2xl px-4 py-8">
				<slot />
			</article>
			<footer></footer>
			<!-- NavigationMobile component under ../components/NavigationMobil.astro -->
			<NavigationMobile />
			<!--  -->
		</main>
		<script src="../js/app.js"></script>
	</body>
</html>
<style is:global>
	@import "../styles/base.css"; /* Kommentar in CSS und JavaScript */
</style>						  <!-- Kommentar in HTML -->
